$body-bg: #0f0f0f;
$main-color: #d0a85c;
$second-color: #4267b2;
$text-color: #fff;

$white: #fff;
$black: #000;

$header-height: 9.5rem;
$border-top: 30px;

$mobile-white: 600px;
$tablet-width: 1024px;

$font-family: "Rowdies", cursive;
